<!DOCTYPE html>
<html lang=en>
    <head>
        <title>File server 007</title>
        {% block style %}
        <link rel="stylesheet" href="{{ static('css/style.css') }}">
        {% endblock %}
    </head>

    <body>
        <form method="post">
            <div class="container">
              <label for="login"><b>Login</b></label><br/>
              <input type="text" placeholder="Enter login" name="login" required><br/>
          
              <label for="pwd"><b>Password</b></label><br/>
              <input type="password" placeholder="Enter password" name="pwd" required><br/>
          
              <button type="submit">Login</button>
            </div>
          </form>
    </body>
</html>